.ContentWrapper {
    width: 100%;
    height: 100%;
}

.Content {
    margin: auto;
}

@media screen and (max-width: 1241px) {
    .Content {
        width: 760px;
    }
}

@media screen and (min-width: 1241px) {
    .Content {
        width: 1160px;
    }
}