.Button {
  position: relative;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.6);
  color: #000;
}

.Ripple {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin-left: -60px;
  margin-top: -60px;
  background: rgba(80, 80, 80, 0.6);
  transform: scale(0);
  opacity: 0.6;
  border-radius: 100%;
}

.Button:not(:active):not(:disabled) .Ripple {
  animation: ripple 1s;
}

@keyframes ripple {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  20% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(2);
  }
}
